{% extends 'layout.html' %}
{% block content %}
  <main id="main">
    <!-- ======= Portfolio Details ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="portfolio-title">{{project|upper}}</h2>
            <div class="owl-carousel portfolio-details-carousel">
              {% set img_count = params['project_details'][project]['img_count'] %}
              {% for i in range(1, img_count+1) %}
                {% set filename = 'assets/img/project_details/' + project + '_' + i|string + '.jpg' %}
                <img src="{{url_for('static', filename=filename)}}" class="img-fluid" alt="">
              {% endfor %}
            </div>
          </div>

          <div class="col-lg-4 portfolio-info">
            <h2>Project information</h2>
            <p>
              <h4><strong>{{project|upper}}</strong></h4>
            </p>
            <ul>
              <li><strong>Category</strong>: {{params['project_details'][project]['category']}}</li>
              <li><strong>Tech Used</strong>: {{params['project_details'][project]['tech']}}</li>
              <li><strong>Lines of Code</strong>: {{params['project_details'][project]['code_lines']}}</li>
              <li><strong>Description: </strong>: {{params['project_details'][project]['description']}}</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- End Portfolio Details -->
  </main>
  <!-- End #main -->
{% endblock content %}